<div class="card w-100 bg-light" style="height: 83vh;">
    <div class="card-body  pt-0 pe-0 overflow-scroll" style="height: 40vh;">
        <h3 class="border-bottom pb-2 bg-light w-100 position-absolute" style="z-index: 2;" >Friends</h3>
        <div class="position-relative" style="top:25px" id="right-friends-div">
            <%- include('_chatEngine'); %>
        </div>
    </div>
    <div class="card-body  mt-3 pt-0 overflow-scroll" style="height: 50vh;">
        <h3 class="border-bottom pb-2 bg-light w-100 position-absolute" style="z-index: 2;" >Users</h3>
        <div class="position-relative" style="top:25px">
            <% for(let u of all_users){ %>
            
            
            
            <h6 class="text-start mt-3 p-2">
                <p class="mb-0">
                    <a class="text-decoration-none ms-3" href="/users/profile/<%= u.id %>">
                        <img src="<%= u.avatar %>" style="height: 30px;width: 30px; border-radius: 50%; margin-right: 10px;" alt="">
                        <%= u.name %>
                    </a>
                </p>
            </h6>

            
            <% } %>
        </div>
    </div>
</div>
<script src="<%= staticPath('js/feed/chat_box.js') %>"></script>